html {
  /* 10px if the browser was 16px*/
  /* 1rem === 10px @ medium browser settings */
  font-size: 62.5%;
}

p {
  font-size: 1.2rem;
}

.App {
  text-align: center;
  font-size: 1.8rem;
}

.login-form-container {

}

.login-icon-container {
  margin-bottom: 5%;
}

.login-form-header {
  font-size: 2.3rem;
}

.heatmap {
  height: 500px;
  margin-top: 20px;
  z-index: 0;
}

.loading-text {
  font-size: 3.0rem;
}

.articles-container {
  width: 100%;
  padding-left: 325px;
  padding-right: auto;
}
